<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Sharing</title>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        display: flex;
        flex-direction: column;
        margin: 10px;
        background-color: #333;
        height: 97vh;
      }
      p{
        color: #ffffff;
      }
      .container {
        display: flex;
        flex: 1;
        /* border: 4px solid #00bcd4; */
        background: 0px 10px 20px rgba(0, 0, 0, 0.2);
        background-color: #333;
        /* background-color: #1e1e1e; */
      }

      .upload-section {
        background: url("your-image-url.jpg") center/cover;
        padding: 100px;

        /* border: 2px solid #000000; */
        border-radius: 0;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
        flex: 1;
        text-align: center;
        overflow: hidden;
        transition: background 0.3s ease, box-shadow 0.3s ease;
        font-family: "YourChosenFont", sans-serif;
      }

      /* .upload-section:hover {
  background: #ecf0f1;
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.3);
} */

      .upload-message {
        margin-bottom: 1.5rem;
        font-size: 18px;
        color: #4caf50;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .file-link {
        color: #00bcd4;
        text-decoration: none;
        transition: color 0.3s ease;
        margin-top: 10px;
        word-wrap: break-word;
      }

      .file-link:hover {
        color: #0039cb;
      }
      form {
        border: 2px solid #00bcd4;
        border-radius: 2px;
        padding: 30px;
      }
      .form-label {
        color: #ffffff;
        font-size: 16px;
        padding: 30px;
      }
      
      .card {
        border-radius: 2px;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
        width: 800px;
        height: 310px;
        background-color: #524f4f;
        padding: 10px 30px 40px;
        margin-bottom: 40px;
      }
      
      .card h3 {
        font-size: 22px;
        font-weight: 600;
        color: #ffffff;
      }
      
      .drop_box {
        margin: 10px 0;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 3px dotted #a3a3a3;
        border-radius: 2px;
      }
      
      .drop_box h4 {
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
      }
      
      .drop_box p {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 12px;
        color: #a3a3a3;
      }
      
      .btn {
        background-color: #00bcd4;
        color: #ffffff;
        border: 2px solid #00bcd4; 
        border-radius: 2px;
        padding: 14px 28px;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }
    
    .btn:hover {
        background-color: #00cccc;
        transform: scale(1.1);
    }
    
      .form input {
        margin: 10px 0;
        width: 100%;
        background-color: #e2e2e2;
        border: none;
        outline: none;
        padding: 12px 20px;
        border-radius: 2px;
      }
      .form-input {
        width: calc(100% - 20px);
        padding: 12px;
        border: none;
        border: 2px solid #fdf9f9;
        border-radius: 2px;
        font-size: 16px;
        margin-bottom: 20px;
        transition: border-color 0.3s ease;
        box-sizing: border-box;
        cursor: pointer;
      }

      .form-input:focus {
        border-color: #0039cb;
        outline: none;
      }

      .share-button {
        background-color: #00bcd4;
        color: #ffffff;
        border: 2px solid #00bcd4;
        border-radius: 2px;
        padding: 14px 28px;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
      }

      .share-button:hover {
        background-color: #00cccc;
        transform: scale(1.1);
      }
      button.copy-button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
      }
      
      button.copy-button:hover {
        background-color: #45a049; /* Darker Green */
      }
      .preview-section {
        background-color: #333;
        padding: 30px;
        /* border: #000000 2px solid; */
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
        flex: 1;
        text-align: center;
        overflow: hidden;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
      }

      /* .preview-section:hover {
      background-color: #ecf0f1;
      box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.3);
    } */

      .preview-button {
        background-color:  #00bcd4;
        color: #ffffff;
        border: 2px solid  #00bcd4;
        border-radius: 2px;
        padding: 14px 28px;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
      }

      .preview-button:hover {
        background-color: #00cccc;
        transform: scale(1.1);
      }

      .file-preview-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .file-preview {
        max-width: 100%;
        height: auto;
        margin: 5px;
      }

      .pdf-preview {
        width: 100vw;
        height: 83vh;
        border: 1px solid #ccc;
      }

      .file-preview video,
      .file-preview audio {
        max-width: 100%;
        height: auto;
      }
      .custom-alert {
        display: none;
        position: fixed;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #b9b4b4;
        color: #f8eeee;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        animation: fadeIn 0.5s ease-in-out forwards;
      }
      
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      
      .fade-out {
        animation: fadeOut 0.5s ease-in-out forwards;
      }
      
      @keyframes fadeOut {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }
      
      .custom-alert p {
        margin: 0;
      }
      
      .custom-alert .close {
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer;
        font-size: 20px;
      }
      
      .custom-alert .close:hover {
        color: #999;
      }
      .file-input {
        position: relative;
        overflow: hidden;
        display: inline-block;
        cursor: pointer;
        padding: 14px 28px;
        background-color: #00bcd4;
        color: #ffffff;
        border: 2px solid #00bcd4;
        border-radius: 2px;
        font-size: 18px;
        transition: background-color 0.3s ease, transform 0.3s ease;
      }
      
      .file-input:hover {
        background-color: #00cccc;
        transform: scale(1.1);
      }
      
      .file-input input[type="file"] {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
      }

      
      .file-input label {
        cursor: pointer;
      }
    </style>

    <script>
      window.onload = function () {
        // Clear file link, input values, and hide preview on page reload
        if (
          window.performance &&
          window.performance.navigation.type ===
            window.performance.navigation.TYPE_RELOAD
        ) {
          document.querySelector(".upload-message").style.display = "none";
          document.querySelector(".file-link").textContent = "";
          document.querySelector("#file").value = "";
          document.querySelector("#password").value = "";
          hideFilePreview();
        }
      };
      function displayFileName(input) {
        const selectedFileNameElement = document.getElementById('selected-file-name');
        const fileName = input.files[0].name;
        selectedFileNameElement.innerHTML = `Selected File: ${fileName}`;
        selectedFileNameElement.style.display = 'block';
      }
      function showAlert(message) {
        var alertBox = document.getElementById("custom-alert");
        var alertMessage = document.getElementById("alert-message");
        var closeButton = document.querySelector(".custom-alert .close");
      
        alertMessage.innerHTML = message;
        alertBox.style.display = "block";
      
        closeButton.onclick = function() {
          alertBox.classList.add("fade-out");
          setTimeout(function() {
            alertBox.style.display = "none";
            alertBox.classList.remove("fade-out");
          }, 500);
        };
      
        setTimeout(function() {
          alertBox.classList.add("fade-out");
          setTimeout(function() {
            alertBox.style.display = "none";
            alertBox.classList.remove("fade-out"); 
          }, 500); 
        }, 3000);
      }
      function copyLink(link) {
        var tempInput = document.createElement("input");
        tempInput.value = link;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput);
        showAlert("Link copied to clipboard");
      }
      
 function displayFilePreview() {
    const fileInput = document.getElementById("files");
    const fileIndexInput = document.getElementById("file-index");
    const filePreviewContainer = document.getElementById("file-preview-container");

    // Clear existing previews
    filePreviewContainer.innerHTML = "";

    if (fileInput.files && fileInput.files.length > 0) {
        const selectedFileIndex = parseInt(fileIndexInput.value);

        if (selectedFileIndex >= 0 && selectedFileIndex < fileInput.files.length) {
            const file = fileInput.files[selectedFileIndex];
            const reader = new FileReader();
            const filePreview = document.createElement("div");

            reader.onload = function (e) {
                if (file.type === "application/pdf") {
                    const pdfPreview = document.createElement("embed");
                    pdfPreview.src = URL.createObjectURL(new Blob([e.target.result], { type: "application/pdf" }));
                    pdfPreview.classList.add("file-preview", "pdf-preview");
                    filePreview.appendChild(pdfPreview);
                } else if (file.type.startsWith("image/")) {
                    const imgPreview = document.createElement("img");
                    imgPreview.src = e.target.result;
                    imgPreview.classList.add("file-preview");
                    filePreview.appendChild(imgPreview);
                } else if (file.type.startsWith("text/")) {
                    const textPreview = document.createElement("pre");
                    textPreview.textContent = e.target.result;
                    filePreview.appendChild(textPreview);
                } else if (file.type.startsWith("video/")) {
                    const videoPreview = document.createElement("video");
                    videoPreview.src = e.target.result;
                    videoPreview.controls = true;
                    videoPreview.classList.add("file-preview");
                    filePreview.appendChild(videoPreview);
                } else {
                    console.error("Unsupported file type.");
                }
            };

            reader.readAsArrayBuffer(file);
            filePreviewContainer.appendChild(filePreview);
        } else {
            console.error("Invalid file index selected.");
        }
    }
}

      function hideFilePreview() {
        const filePreviewContainer = document.getElementById(
          "file-preview-container"
        );
        filePreviewContainer.innerHTML = "";
      }
    </script>
  </head>

  <body>
    <div id="custom-alert" class="custom-alert">
      <span class="close">&times;</span>
      <p id="alert-message"></p>
    </div>
    <div class="container">
      <div class="upload-section">
        <% if (locals.fileLink != null) { %>
        <div class="upload-message">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 24 24"
            width="32"
            height="32"
          >
            <path d="M0 0h24v24H0z" fill="none" />
            <path
              d="M12 2a10 10 0 1010 10A10 10 0 0012 2zm2 14h-4v-2h4v2zm0-4h-4V6h4v6z"
            />
          </svg>
          Your file has been uploaded!
          <br />
          <!-- <a class="file-link" href="<%= locals.fileLink %>"><%= locals.fileLink %></a> -->
          <!-- <input type="text" id="fileLink" value="<%= locals.fileLink %>" style="display: none;"> -->
          <button class="copy-button" onclick="copyLink('<%= locals.fileLink %>')">Copy Link</button>
        </div>
        <% } %>
        <form action="/upload" method="post" enctype="multipart/form-data">
          <!-- <label class="form-label" for="file">Choose Files:</label>
          <input
            class="form-input"
            type="file"
            id="file"
            name="file"
            required
            multiple
          /> -->
          <div class="container">
            <div class="card">
              <h3>Upload Files</h3>
              <div class="drop_box">
                <header>
                  <h4>Select File here</h4>
                </header>
                <p>Files Supported: PDF , TEXT , DOC , DOCX , VIDEO , IMAGE</p>
                <input
                type="file"
                id="file"
                name="file"
                hidden
                id="fileID"
                style="display: none"
                onchange="displayFileName(this)"
              />
                <input
                  type="file"
                  id="file"
                  name="file"
                  hidden
                  id="fileID"
                  style="display: none"
                />
                <div id="selected-file-name" style="color:#ccc;padding-bottom:15px"></div>
                <!-- <label class="btn form-label" for="file">Choose Files</label> -->
                <!-- <input class="btn form-label"type="file" id="file" name="file" multiple> -->
                <div class="file-input">
                  <label for="file">Choose Files</label>
                  <input type="file" id="files" name="file" multiple>
                </div>
                
                
                <!-- <button class="btn" for="file">Choose File</button> -->
              </div>
            </div>
          </div>
          <label class="form-label" for="password">Password (optional)</label> <br><br>
          <input
            class="form-input"
            type="password"
            id="password"
            name="password"
          />
          <button class="share-button" type="submit">Share</button>
        </form>
      </div>

      <div class="preview-section">
        <!-- <label class="form-label" for="file">Preview Files:</label> -->
        <p>File Number Starts from 0, for eg. if you have selected 4 files and want to preview the 3rd file the number will be 2.</p>
         <p>Enter file Number</p> <input type="number" id="file-index" placeholder="" value="0"><br><br>
        <button class="preview-button" type="button" onclick="displayFilePreview()">
            Preview Files
        </button>
        <div class="file-preview-container" id="file-preview-container"></div>
    </div>
  </body>
</html>
